<!-- Cocktail Picture Banner -->
<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo.key %>');">
  <div class="container">
    <div class="index-banner-text"><%= @cocktail.name %></div>
    <div class="index-banner-description"><%= @cocktail.description %></div>
  </div>
</div>

<!-- Ingredient List -->
<div class="ingredient-header">
  Ingredients
</div>
<div class="categories">
  <!-- Ingredient -->
  <% @cocktail.ingredients.each do |ingredient| %>
    <div class="ingredient-text" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(url('<%= cl_image_path ingredient.photo.key %>'))">
      <%= ingredient.doses[0].unit %> of <%= ingredient.name %>
    </div>
  <% end %>
