
<div class="container form-margin-top">
  <div class="form-header">Add New Whiskey</div>
  <%= simple_form_for @whiskey do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :year %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
