<!-- Wine Picture Banner -->
<div class="index-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @wine.photo.key %>');">
  <div class="container">
    <div class="index-banner-text"><%= @wine.name %></div>
  </div>
</div>

<!-- Information Area -->
<div class="d-flex justify-content-around mt-1 mx-4 flex-wrap">
  <!-- Info Box -->
  <div class="box-info d-flex flex-column mb-3">
    <div class="ingredient-header">
      Information
    </div>
    <!-- Detail Information Box -->
    <div>
      <!-- country -->
      <div class="d-flex justify-content-between">
        <div class="name-title">Country:</div>
        <div><%= @wine.country.name %></div>
      </div>
      <!-- year -->
      <div class="d-flex justify-content-between">
        <div class="name-title">Year:</div>
        <div><%= @wine.vintage %></div>
      </div>
      <!-- alcohol percentage -->
      <div class="d-flex justify-content-between">
        <div class="name-title">Alcohol Percentage:</div>
        <div><%= @wine.alcohol_percent %></div>
      </div>
    </div>

  </div>

  <!-- Description Box -->
  <div class="box-info">
    <div class="ingredient-header">
      Description
    </div>
    <div class="wine-description">
      <%= @wine.description %>
    </div>
  </div>

</div>
